.wrapper {
    width: 100%;

    margin: 0px 0px 20px 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

/* Calendar wrapper */
.calendar {
    max-width: 1680px;
    width: calc(100vw - 280px);

    border: 1px solid #eaeaea;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    overflow: hidden;
}

.calendar .name_of_days {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.calendar .name_of_days .name {
    min-width: 150px;
    width: calc(100% / 7);
    min-height: 60px;

    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 1;

    padding: 10px;

    color: #787878;
    background: #ffffff;

    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;

    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar .name_of_days .name:last-child {
    border-right: none;
}

.calendar .number_of_days {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
.calendar .number_of_days .block {
    min-width: 150px;
    width: calc(100% / 7);
    min-height: 100px;

    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 1;

    padding: 10px;

    color: #787878;
    background: #ffffff;

    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.calendar .number_of_days .block:nth-child(7n) {
    border-right: none;
}
.calendar .number_of_days .block.another_month {
    color: rgba(120, 120, 120, 0.5);
}
.calendar .number_of_days .block .num {
    width: 30px;
    height: 30px;

    border: 1px solid transparent;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar .number_of_days .block.current_date .num {
    padding: 10px;

    color: #4e73df;

    border: 1px solid #4e73df;
    border-radius: 50%;
}
/* If week displayed */
.calendar .number_of_days .block.week_day {
    min-height: 600px;

    border-bottom: none;
}

/* If weekends not displayed */
.calendar.not_weekends .name_of_days .name {
    width: calc(100% / 5);
}
.calendar.not_weekends .name_of_days .name:nth-child(1),
.calendar.not_weekends .name_of_days .name:nth-child(7) {
    display: none;
}

.calendar.not_weekends .number_of_days .block {
    width: calc(100% / 5);
}
.calendar.not_weekends .number_of_days .block.week {
    display: none;
}