.group_block {
    width: 100%;
    min-height: 36px;

    margin: 0px 0px 14px 0px;
    padding: 0px 0px 14px;

    border-bottom: 1px solid #eaeaea;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.group_block:last-child {
    margin-bottom: 0px;
    border-bottom: 1px solid transparent;
}